<script>
	$(function(){
		$('.actions input').attr('class','btn btn-success');
	});
</script>
<%= form_for @usuario, html: {class: "form-horizontal"} do |f| %>
  <% if @usuario.errors.any? %>
	<div class="form-group">
		<label class="col-sm-6 control-label">
			<div class="alert alert-danger">
				<strong>
					<%= pluralize(@usuario.errors.count, "Erro") %>
				</strong> 
				Provavelmente este usuario jรก foi salvo.
				<br/>
				<% @usuario.errors.full_messages.each do |message| %>
					<%= message %>
				<% end %>
			</div>
		</label>
	</div>
  <% end %>

  <div class="field form-group">
    <%= f.label :nome, class:"col-sm-2 control-label" %>
	<div class="col-sm-3">
		<%= f.text_field :nome, :required => true, class:"form-control" %>
	</div>
  </div>

  <div class="field form-group">
    <%= f.label :email, class:"col-sm-2 control-label" %>
	<div class="col-sm-3">
		<%= f.email_field :email, id: 'usuario_email', type:'email', required: true, placeholder: "Email", class:"form-control" %> 
	</div>
  </div>
  
  <div class="field form-group">
	<%= f.label :sexo, class:"col-sm-2 control-label" %>
		<%= radio_button("usuario", "sexo", "m") %>
		<%= f.label :masculino %>
		<%= radio_button("usuario", "sexo", "f") %>
		<%= f.label :feminino %>
  </div>

  <div class="field form-group">
	<%= f.label :data_de_nascimento, class:"col-sm-2 control-label" %>
	<div class="col-sm-3">
		<%= f.text_field :nascimento, type:'date', class:"form-control" %>
		<!--date_field(:usuario, :nascimento)-->
	</div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
