<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, :required => true %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
	<%= f.email_field :email, id: 'usuario_email', type:'email', required: true, placeholder: "Email" %> 
  </div>
  
  <div class="field">
	<%= f.label :sexo %><br>
	<%= radio_button("usuario", "sexo", "m") %>
	<%= f.label :masculino %>
	<%= radio_button("usuario", "sexo", "f") %>
	<%= f.label :feminino %>
  </div>
  
  <div class="field">
	<%= f.label :data_de_nascimento %><br>
	<%= date_field(:usuario, :nascimento) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
